{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>chat</title>
</head>
<body>
    <div class="z-50 drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Navbar -->
            <div class="navbar bg-base-300 w-full bg-[#CA3B3B]">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block h-6 w-6 stroke-current stroke-white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="#ffffff"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
                <div class="mx-2 flex-1 px-2 text-white">INIAD FOODS</div>
                <div class="hidden flex-none lg:block">
                    <ul class="menu menu-horizontal">
                        <!-- Navbar menu content here -->
                        <li class="text-white"><a href="{% url 'top' crop_name_en %}">{{ crop_name_ja }}について知る</a></li>
                        <li class="text-white"><a href="{% url 'chat' crop_name_en %}">AIに育て方を聞く</a></li>
                        <li class="text-white"><a href="{% url 'schedule' crop_name_en %}">スケジュールを確認</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 min-h-full w-80 p-4">
                <!-- Sidebar content here -->
                <li class="text-[#CA3B3B]"><a href="{% url 'top' crop_name_en %}">{{ crop_name_ja }}について知る</a></li>
                <li class="text-[#CA3B3B]"><a href="{% url 'chat' crop_name_en %}">AIに育て方を聞く</a></li>
                <li class="text-[#CA3B3B]"><a href="{% url 'schedule' crop_name_en %}">スケジュールを確認</a></li>
            </ul>
        </div>
    </div>
    <title>{{ crop_name_ja }}のチャット</title>
    
    <div class="chat-container">
        <div class="messages m-8" id="chat-messages">
            {% for message in chat_history %}
                <div class="message mt-8 {% if message.sender == 'user' %}chat-start{% else %}card bg-base-300{% endif %}">
                    <div class="message-content {% if message.sender == 'user' %}chat-bubble chat-bubble-error{% else %}card-body{% endif %}">
                        {{ message.message|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="input-container">
            <form method="post" action="{% url 'chat' crop_name_en=crop_name_en %}">
                {% csrf_token %}
                <input type="text" name="message" id="user-input" placeholder="メッセージを入力してください..." class="input input-bordered w-full max-w-xs mt-8 ml-8" />
                <button class="btn btn-outline btn-info pl-10 pr-10" type="submit">送信</button>
            </form>
        </div>
    </div>
</body>
</html>
