<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>
</head>
<body>
    <h1>{{name}}の栽培スケジュール</h1>
    <form>
        <label>種まき日</label>
        <input type="date" name="start_date" id="start_date">
    </form>
    <ul>
        <li>~ 種まき
                example.com
        </li>
        <li>~ 収穫
                example.com
        </li>
    </ul>
</body>
</html>